*~
.bash_history
.cache
.cargo/*
!.cargo/config.toml
.codex
.emacs.desktop*
.local/
.python_history
.ssh/
/.claude*
/.lesshst
/.npm
/temp/
Cargo.lock
__pycache__/
target/
/TAGS
/code/python/synth/play.py
